.centered{
    text-align: center;
}

.detaileTrackingHeading{
    background: #b9b7b7;
    padding: 10px 15px;
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.orderDeliverySec{
    font-weight: normal;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
    margin: 0 auto;
}

.subContent{
    font-size: 15px;
    margin: 20px 0px;
}

// .pageTitle{
//     margin-bottom: 30px;
// }

.content{
    margin-top: 60px;
    font-size: 15px;
}

.secMsg{
    font-size: 16px;
}

.submitBtn{
    border-radius: 35px;
    padding: 17px 20px;
    background-color: #ede8e8;
    font-size: 10px;
    color: #000;
    border: none;
    margin: 30px 0px;
    font-size: 14px;
    text-transform: uppercase;
    width: 200px;
}

.inputHeading{
    margin-bottom: 10px;
    margin-top: 50px;
}

.textAreaSec{
    border-color: #666;
    border-radius: 10px;
    margin-top: 8px;
}

.noteHead{
    font-weight: bold;
}

.noteContent{
    margin: 20px 0px;
}

.spaceBtm30{
    margin-bottom: 70px;
}

.detail-section{
    padding-bottom: 50px;
    @include mobile{
        margin-top: 90px;
    }
}

.errorMsg{
    color: #ff1818
}

.spacer{
    padding-top: 30px;
    padding-bottom: 30px;
}

.spacer10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.mgBt10{
    margin-bottom: 10px;
}

.uploadImageSection{
    display: flex;
    flex-direction: row;
    border: 2px solid #ddd;
    border-radius: 8px;
    align-items: center;
}

.uploadRaisedButton{
    color: #fb5555 !important;
    border-color: #fb5555 !important;   
}
.uploadImageInnerSec{
    background: #e1e1e1;
    margin: 20px 20px;
    border-radius: 8px;
    padding: 40px 0px;
}

.uploadImageInnerSec img{
    width: 100px;
}

.uploadImageInnerSec{
    background: #e1e1e1;
}

.makeSureSec{
    display: flex;
    align-items: center;
    border: 1px solid #5c61ff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.makeSureSec svg{
    color: #5c61ff;
    font-size: 22px;
    margin-right: 10px;
}
.subHeading{
    font-size: 16px;
}
.detailsInputField{
    background-color: #f3f3f3;
    width: 300px;
    margin-bottom: 20px;
}
.uploadImage{
    // flex: 1
    width: 230px;
    height: 230px;
}
.questionButtonSec{
    // flex: 1
}

.textAreaSec{
    border-width: 5px;
    border-color: #666;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;

}

.Field.Field_type_textarea textarea {
    width: 100%;
}